<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,800&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO app</title>
    <link rel="stylesheet" href="./styles.css" />
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="todoapp"  >
      <header>
        <em> <h1>THE TODO__APP</h1></em>
        <div class="input">
          <input
            type="text"
            name="goal"
            id="goal"
            placeholder="Enter Your GOAL here"
            v-model="enteredval"
            @keyup.enter="addtogoal"
          />
         
          <button @click="addtogoal" >ADDTHISGOAL</button>
          <button @click="getfromlocal">Show Previous Goals</button>
          
        </div>
        <span v-if="show" >   &#9888; GOAL Can't be EMPTY Please make sure</span>
      </header>
      <div class="goals">
        <p  v-if="goals.length===0">NO GOALS SET!! {{goals.length}}</p>
        <ul  v-else>
          <li  v-for="goal in goals"   ><h3 @click="deleteitem">{{goal}}<h1></li>
          
          
        </ul>
      </div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
